$doneColor: #e91e63;
$notDoneColor : #227233;

.todos {
  width: calc(100% - 2 * 20px);

  .todo {
    margin: 20px;
    background-color: white;
    border: 1px solid $notDoneColor;
    border-radius: 5px;

    &.isDone {
      opacity: 0.6;
      border-color: $doneColor;

      .checkbox {
        border-color: $doneColor;
      }

      .todoTitle {
        text-decoration: line-through;
        color: $doneColor;
      }
    }

    .todoTitle {
      color: $notDoneColor;
      background-color: white;
      text-decoration: none;
      width: 80%;

      &:hover {
        opacity: 0.8;
      }
    }

    .checkbox {
      margin-right: 20px;
      align-items: center;
      padding-left: 20px;
      border-left: 2px solid $notDoneColor;
    }

    
  }
}
