.todoList {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: #f3fff5;

  .header {
    background-color: #4b7c56;
    justify-content: center;
    color: white;
  }

  .todo {
    width: calc(100% - 2 * 20px);
    margin: 20px;
    background-color: white;
    color: #227233;
    border: 1px solid green;
    border-radius: 5px;
  }

  .todo[aria-selected='true'] {
    text-decoration: line-through;
    color: #1e2758;
  }
}
